DATABASE_URL="postgresql://SEU_USUARIO:SUA_SENHA@SEU_HOST_NEON_POOLER/SEU_DATABASE?sslmode=require&pgbouncer=true&connect_timeout=15"
DIRECT_URL="postgresql://SEU_USUARIO:SUA_SENHA@SEU_HOST_NEON/SEU_DATABASE?sslmode=require&connect_timeout=15"
